<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<h1>Dashboard</h1>

<p>Logged in as: <span sec:authentication="name"></span></p>

<div th:each="post : ${posts}">
    
    <h3>
        <a th:href="@{'/posts/' + ${post.id}}" 
           th:text="${post.title}"></a>
    </h3>

    <p>
        Author: <span th:text="${post.account.firstname}"></span> |
        Created: <span th:text="${post.createdAt}"></span>
    </p>

    <hr>
</div>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>