<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<h1>Dashboard</h1>

<p>Logged in as: <span sec:authentication="name"></span></p>

<!-- USER -->
<div sec:authorize="hasRole('USER')">
    <h2>User Dashboard</h2>
</div>

<!-- ADMIN -->
<div sec:authorize="hasRole('ADMIN')">
    <h2>Admin Panel</h2>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>