<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form th:action="@{/register}" th:object="${user}" method="post">

    <input type="text" th:field="*{firstName}" placeholder="First Name"/>
    <p th:errors="*{firstName}"></p>

    <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
    <p th:errors="*{lastName}"></p>

    <select th:field="*{gender}">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>

    <input type="number" th:field="*{age}" placeholder="Age"/>
    <p th:errors="*{age}"></p>
	<input type="email" th:field="*{email}" placeholder="Email"/>
	<p th:errors="*{email}"></p>
    <input type="date" th:field="*{dateOfBirth}"/>
    <p th:errors="*{dateOfBirth}"></p>

    <input type="password" th:field="*{password}" placeholder="Password"/>
    <p th:errors="*{password}"></p>

    <button type="submit">Register</button>

</form>

</body>
</html>